/* 전역 style */
:root {
  --ivory: #f7f7f7;
  --gray: #7d8798;
  --black: #272727;
  --red: #d32b2b;
  --main-border-radius: 3rem;
  /* --button-font:
  --main-font: */
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.App {
  min-width: 70vw;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyHeader Component*/
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header>div {
  display: flex;
}

header .head_btn_left {
  width: 50%;
  justify-content: start;
}

header .head_btn_right {
  width: 50%;
  justify-content: end;
}

/* MyButton Component*/
.MyButton {
  cursor: pointer;
  background-color: white;
  border: solid 0.2rem #434850;
  border-radius: 0.5rem;
  padding: 5px;
}

/* SearchBook Component */
.SearchBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.search_input {
  width: 38rem;
  height: 2.5rem;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.search_submitBtn {
  width: 2rem;

}

.SearchResult li {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.SearchResult .resultBook_info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
}

.resultBook_info .resultBook_title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}