/* 전역 style */
:root {
  --ivory: #f7f7f7;
  --gray: #7d8798;
  --black: #272727;
  --red: #d32b2b;
  --main-border-radius: 3rem;
  /* --button-font:
  --main-font: */
}

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.App {
  min-width: 70vw;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* SignIn page */
.welcomeWrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeWrapper form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.welcomeWrapper form input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3%;
  margin-top: 5%;
}

.welcomeWrapper .info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3rem;
}

.welcomeWrapper .loginOrCreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
}
/* MyHeader Component*/
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_btn_left {
  width: 50%;
  justify-content: start;
}

header .head_btn_right {
  width: 50%;
  justify-content: end;
}

/* MyButton Component*/
.MyButton {
  cursor: pointer;
  background-color: white;
  border: solid 0.2rem #434850;
  border-radius: 0.5rem;
  padding: 5px;
}

/* SearchBook Component */
.SearchBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.search_input {
  width: 38rem;
  height: 2.5rem;
  font-size: 1rem;
  margin-right: 1.5rem;
}

.search_submitBtn {
  width: 2rem;
}

.SearchResult li {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.SearchResult .itemCheck_true {
  border: 3px solid var(--gray);
}

.SearchResult .resultBook_info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
}

.resultBook_info .resultBook_title {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Home Page */
.bookcase {
  margin-top: 5%;
}

.bookcase .compartment {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10% 2%;
}

/* Bookcase Component  */
.compartment .bookwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookwrapper img {
  max-width: 60%;
  margin-bottom: 5%;
  cursor: pointer;
}

/* Drawer Page */
.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.drawer .information {
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.drawer .information img {
  padding-right: 5%;
}

.drawer .information div {
  flex-direction: column;
}

.drawer .sentencesWrapper {
  width: 100%;
  margin-top: 7%;
}

.drawer .sentencesWrapper div {
  padding: 10%;
}

/* SentenceList Component */
.sentenceList {
}
